<ul class="sidenav sidenav-fixed a-sidenav">
    <li class="bold"><a href="main/stat" class="waves-effect waves-orange"
                        style="height: 80px;
                        font-size: x-large;
                        font-weight: 300;
                        padding-top: 12px;
                        padding-left: 55px">
      Статистика приложения
    </a></li>
    <li class="bold"><a href="main/edit" class="waves-effect waves-orange"
                        style="height: 80px;
                        font-size: x-large;
                        font-weight: 300;
                        padding-top: 12px;
                        padding-left: 55px">
      Редактировать контент
    </a></li>
    <li class="bold"><a href="main/history" class="waves-effect waves-orange"
                        style="height: 80px;
                        font-size: x-large;
                        font-weight: 300;
                        padding-top: 12px;
                        padding-left: 55px">
      История изменений
    </a></li>
    <li class="bold"><a href="main/add-editor" class="waves-effect waves-orange"
                        style="height: 80px;
                        font-size: x-large;
                        font-weight: 050;
                        padding-top: 12px;
                        padding-left: 55px">
      Добавить редактора
    </a></li>
    <li class="bold last"><a href="#" class="waves-effect waves-orange"
                        style="height: 80px;
                        font-size: x-large;
                        font-weight: 300;
                        padding-top: 12px;
                        padding-left: 55px">
      Выйти
    </a></li>
</ul>

<router-outlet></router-outlet>
